body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  font-weight: 300;
  background: #F3F3F3;
}

header {
  margin-top: 80px;
  margin-bottom: 20px;
  height: 250px;
}

header img {
  float:left;
}

header h1 {
  float: left;
  font-size: 130px;
  font-weight: 900;
  letter-spacing: -8px;
  margin-top: 80px;
}

span.sub_title {
  font-size: 60px;
  color: #999;
  font-weight: 200;
  line-height: 110px;
  letter-spacing: -4px;
}

footer {
  font-weight: 200;
  color: #B3B3B3;
  text-align: right;
}